.post-container-dark {
  background-color: black;
  color: white;
}

.post-container-light {
  background-color: white;
  color: black;
}

.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}

.buttons > button {
  margin-right: 20px;
}

.post-card-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.post-btn {
  height: 40px;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 10px 20px;
  background-color: #ff0000;
  font-size: 18px;
}

.cards {
  width: 300px;
  box-shadow: 0px 0px 20px 5px #cfcece;
  padding: 10px;
  border-radius: 10px;
}
